.mat-form-field-wrapper {
  /* display: flex; */
  width: 500px;
  /* position: relative; */
}
.container {
  margin: auto;
  text-align: center;
}

button:not(.eliminar) {
  margin: 2rem 1rem;
  margin-left: 10px;
}


.aceptar {
  margin: 0 1rem;
}

.lista-utiles {
  font-size: 1.2rem;
  line-height: 2rem;
  width: 40%;
  margin: auto;
  text-align: left;
}

button:not(.add){
  margin-left: 50px;
}




